{% extends 'base.html' %}
{% import 'macros.html' as macro%}

<!-- styles block -->

{% block styles%}
{{ super() }}<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{url_for('static',filename='css/all.css')}}">
{% endblock %}

<!-- Content block -->
{% block content %}
<section style="background-color: #fff;">
<div class="container">
    <div class="col-md-8" style="margin-left:15%;">
        <a href="{{url_for('main.new_pitch')}}" class="btn btn-success btn-sm"><br>
          <span style= "color:#fff; font-size:20px;">Add a new Pitch</span>
        </a>
        <div class="pitch">
        <div class="mx-auto  all-pitches">
            {{macro.displayPitches(pitches)}}
        </div>
    </div>
    </div>
</div>
</section>
{% endblock%}