{% extends 'base.html' %}
{% import 'macros.html' as macro%}

<!-- styles block -->

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
<!-- Content block -->
{% block content %}

<style>
        .head{
                text-align:center;
        }
</style>



<div style="background-image:linear-gradient(rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.23)), url(https://images.unsplash.com/photo-1478029115463-6371b5133cac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60); background-repeat: no-repeat; background-size: cover; position:absolute; top:9.5%; left:0; right:0; bottom:0;">
   <section id="index">
        <div style="font-weight:bold; font-size:30px" class="container">
            <h2  style="font-weight:bold; font-size:30px; color:orange; padding-top:18%;">WELCOME TO THE LION'S PITCHING APP</h2>
                <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8  w-75 my-auto text-center text-white head pt-3 ">
                                <h2>If you can't explain it. you simply dont understand it</h>
                                <h3>What you think how you feel your emotion might strengthen someone around ,,,FAM let's drop our piches</h3>
                        </div>
                        <div class="col-md-2"></div>
                </div>
        </div>

   </section>     
</div>


{% endblock%}
