
{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/interview.css')}}">
{% endblock %}
{% block content %}
<section style="background-color:beige; height:700px; font:italic;">
        <div class="container" style="background-color:beige; height:700px;">
                <h3 style="font-size:50px; text-decoration:underline;" class="text-center text-dark">Inteview Pitches</h3>
                <a style="text:center; btn:large" class="btn btn-primary btn-xl;" href="{{url_for('main.new_pitch')}}">
                    <br>
                    Add a new Pitch
                </a>
        <p style="font-size:40px; font-style:italic;  font-weight:bold; text-align:center;">Let's drop all out inteview pitches here past experiences <br> you can share or anything we feel helps in an interview platform</p>
            
                
                    {{macro.displayPitchesInCategories(pitches,1)}}
        
            
            </div>
</section>
   

{% endblock %}