
{% extends 'base.html' %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block content%}
    <div  style="vh:20px; font-size:20px; background-color:beige; height:700px;" class="container-fluid">
        <div class="row">
            <div class="col text-center mt-4">
                    <a href="{{url_for('main.all')}}">
                            <button type="button" class="btn btn-primary btn-lg" style="margin-bottom:10px;">
                                    <span style="font-size:20px;"  class="glyphicon glyphicon-chevron-left" ></span> Back
                            </button>
                    </a>

            </div>
        </div>
       
        <div class="row">
            <div class="col-md-6 mx-auto">
                {{wtf.quick_form(new_pitch_form)}}
            </div>
        </div>
        
    </div>

   
{% endblock %}